$heading-font: 'IBM Plex Mono', monospace;
$body-font: 'IBM Plex Sans', sans-serif;

$border-colour: #C32C72;
$main-background-colour: #F4F3EE;

$font-sizes: ( 
	"logo-size": 2rem,
	"header-one": 1.7rem,
	"footer-heading-size": 1.3rem
);
